@font-face { font-family: CreakyFrank; src: url('assets/fonts/CreakyFrank.ttf'); } 
@font-face { font-family: Bahiana; src: url('assets/fonts/Bahiana-Regular.otf');}
@font-face { font-family: FiraSans; src: url('assets/fonts/FiraSans-Light.otf');}